<!-- <div class="url"> -->
<p><%= bookmark.url  %></p>
  <%= link_to "Delete bookmark", topic_bookmark_path(topic, bookmark), method: :delete %>
<%= link_to "Update bookmark", edit_topic_bookmark_path(topic, bookmark) %>
<!-- </div> -->

