
<span class="bookmark"><%= link_to "#{bookmark.url.delete(' ')}", "http://#{bookmark.url.delete(' ')}", target: "_blank" %>

<%= render partial: 'likes/like', locals: { bookmark: bookmark } %>

<%= render partial: 'bookmarks/right', locals: {bookmark: bookmark, topic: topic} %> <br/> 

</span>




