<div class= "topic_form">


<h4>Create a bookmark:</h4>

<%= form_for [@topic, Bookmark.new] do |f| %>
  <%= f.text_field :url, class: 'form-control', placeholder: "Enter bookmark here" %><br/> 
  <%= f.submit "Save", class: 'btn btn-default' %>
  <% end %>

</div>