<h1>Topics</h1>

<p class="instructions"><b>Instructions:</b> Send an e-mail to <i>postmaster@app4231fc923763453e9611700de2197df9.mailgun.org</i>. The subject will be the topic and your url will create a new bookmark in that subject. Give it a try!<br/>
<span class="small">P.S. You can also create a topic below :)</span>
</p>

<span title="add topic" class="new"><%= link_to " ", new_topic_path, class: "glyphicon glyphicon-plus" %></span>

<%= render @topics, topic: @topic %>
<%= will_paginate @topics %>





