<div class="container">
<h1>Create a new topic </h1><br/>
<div class="row">
  <div class="col-md-4">
    <p>Guidelines for topics</p>
    <ul>
      <li>The name has to be original (this means it should not exist already in the topic list.)</li>
      <li> The topic can only have numbers and/or letters </li>
      <li> The topic cannot be blank </li>
    </ul>
  </div>
<%= render partial: 'form', locals: {topic: @topic} %>
</div>
</div>
<span title="Back to topics" class="link_two"><%= link_to " ", topics_path, class: "glyphicon glyphicon-arrow-left" %></span>

