
<div class="jumbotron">
  <div class="text"> 
  <div>This app lets you e-mail a link to your</br>
    My Favs account and it automatically bookmarks it.</br>
    Give it a try!</div>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-default" %>
</div>
</div>

