/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 20px;
}

h1 {
  text-align: center;
  font-family: 'Indie Flower', sans-serif;
}

.link_two a {
  color: rgb(204, 0, 102);
  text-decoration: none;
  font-size: 18px;
  margin-left: 30px;
}

/* Header */
.brand a {
  font-size: 26px;
  font-family: 'Indie Flower', sans-serif;
  color: rgb(204, 0, 102);
  padding-left: 10px;
  text-decoration: none;
}

.masthead {
  background-color: rgba(102, 153, 153, 0.1);
  border-radius: 4px;
  padding: 8px;
}

.user-info {
margin-right: 10px;
font-style: italic;
}

.user {
  font-size: 20px;
}

.user a:first-child {
  text-decoration: none;
  color: rgb(204, 0, 102);
  font-style: italic;
}

.user a:nth-child(2) {
  font-size: 12px;
}

/* Form */
.form-control {
  width: 100%;
}

.topic_form {
  text-align: center;
  display: block;
  margin: auto;
  padding: 10px;
  width: 20%;
  background-color: rgba(102, 17, 65, 0.1);
  border-radius: 4px;
}

/* Topics index */

.instructions {
  background-color: transparent;
  border-radius: 4px;
  padding: 10px;
  margin: 40px;
  font-size: 14px;
}

i {
  color: rgb(204, 0, 102);
  text-decoration: none;
  font-size: 16px;
}

.small {
  font-size: 12px;
}

.new {

  border-radius: 4px;
  padding: 8px;
  font-family: 'Indie Flower', sans-serif;
  width: 10%;
  text-align: center;
  margin-left: 20px;
}

  .new a {
  color: rgb(204, 0, 102);
  text-decoration: none;
  font-family: 'Indie Flower', sans-serif;
  font-size: 44px;
  }

.topic {
font-size: 24px;
background-color: rgba(178, 178, 178, 0.1);
margin: 20px;
border-radius: 4px;
padding: 6px;
text-align: center;
display: inline-block;
height: 120px;
}

  .hashtag {
  color: rgb(204, 0, 102);
  font-family: 'Indie Flower', sans-serif;
  font-size: 32px;
  }

    .hashtag a {
    text-decoration: none;
    }

  .edit a {
  font-size: 12px;
  }

  .bookmarks {
  font-size: 12px;
  }

  .delete a {
  font-size: 12px;
  color: rgb(204, 0, 0);
  clear: both;
  }


/* Topics#show */

.color {
  color: rgb(204, 0, 102);
}

.bookmark a {
  text-decoration: none;
  font-size: 18px;
}

  .edit_b a {
  font-size: 12px;
  }

 .delete_b a {
  font-size: 12px;
  color: rgb(204, 0, 0);
  clear: both;
  }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  margin-top: 70px;
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;  
}

.text {
  font-size: 24px;
  background-color: transparent;
  border-radius: 4px;
}

/*404 error*/

.image img{
  hieght: 400px;
  width: 400px;
  margin: auto;
  display: block;
  text-align: center;
}

.image_text {
  font-size: 18px;
  display: block;
  text-align: center;
}

/* Devise */

.devise_form {
  display: block;
  margin: auto;
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}